<div class="db_welcome">
  <h2><%= t('dashboard.index.no_event_title') %></h2>
  <h4><%= t('dashboard.index.no_event_description') %></h4>
  <br>
  <%= simple_form_for(@event) do |f| %>
    <%= f.input :date, as: :date, input_html: { class: 'input-lg' } %>
    <%= f.input :time, input_html: { class: 'input-lg' }  %>
    <br>
    <%= f.button :submit, t('dashboard.index.create_button'), class: 'btn-success btn-lg'  %>
  <% end %>

</div>