<div class="row">

  <div class="col-md-6 col-xs-12">
    <%= render 'widget',
    color: 'blue', icon: 'calendar', text: t('.days_left'), number: @event.days_left, progress: @event.ongoing_days_percent, desc: t('.to_wedding_date', date: l(@event.date.to_date, format: :long) ) %>
  </div>

  <div class="col-md-6 col-xs-6">
    <%= render 'widget',
    color: 'blue', icon: 'users', text: t('.total_guests'), number: @event.users.with_role(:guest).count, progress: '70', desc: '70% Increase in 30 Days' %>
  </div>

  <div class="col-md-4 col-xs-6">
    <%= render 'widget',
    color: 'green', icon: 'thumbs-o-up', text: t('.ok_guests'), number: '100', progress: '70', desc: '70% Increase in 30 Days' %>
  </div>

  <div class="col-md-4 col-xs-6">
    <%= render 'widget',
    color: 'yellow', icon: 'question-circle', text: t('.unknown_guests'), number: '50', progress: '70', desc: '70% Increase in 30 Days' %>
  </div>

  <div class="col-md-4 col-xs-6">
    <%= render 'widget',
    color: 'red', icon: 'thumbs-o-down', text: t('.nok_guests'), number: '10', progress: '70', desc: '70% Increase in 30 Days' %>
  </div>

</div>