<div class="info-box bg-<%= color %>">
    <span class="info-box-icon"><%= icon(icon) %></span>
    <div class="info-box-content">
        <span class="info-box-text"> <%= text %></span>
        <span class="info-box-number"><%= number %></span>
        <div class="progress">
            <div class="progress-bar" style="width: <%= progress %>%"></div>
        </div>
    </div>
</div>