<% content_for :page_header do %>
    <%= t('.title') %>
<% end %>

<% content_for :page_description do %>
<%= t('.description') %>
<% end %>

<% unless current_user.event.present? %>

  <%= render partial: 'no_event' %>

<% else %>

  <%= react_component 'Dashboard', { guests: @guests, event: @event} %>

<% end %>