<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header"><%= t('dashboard.sidebar.title').upcase %></li>

        <!-- Optionally, you can add icons to the links -->
        <li class="<%= 'active' if current_page?(dashboard_path) %>">
          <%= link_to(dashboard_path) do %>
            <%= icon('home') %>
            <span><%= t('dashboard.sidebar.start') %></span>
          <% end %>
        </li>

        <% unless current_user.event.nil? %>

          <li class="treeview <%= 'active' if controller_name == 'users' %>">
            <a href="#"><%= icon('heart') %> <span>Novios</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li class="<%= 'active' if current_page?(@groom) %>">
                  <%= link_to @groom do %>
                    <%= icon('mars') %> <%= t('dashboard.sidebar.groom') %>
                  <% end %>
              </li>

              <li  class="<%= 'active' if current_page?(@bride) %>">
                  <%= link_to @bride do %>
                    <%= icon('venus') %> <%= t('dashboard.sidebar.bride') %>
                  <% end %>
              </li>
            </ul>
          </li>


          <li class="<%= 'active' if controller_name == 'locations' %>">
            <% if @event.location.nil? %>
              <% event_path = new_event_location_path(@event) %>
            <% else %>
              <% event_path = event_location_path(@event, @event.location) %>
            <% end %>

            <%= link_to(event_path) do %>
              <%= icon('map-marker') %>
              <span><%= t('dashboard.sidebar.location') %></span>
            <% end %>
          </li>

          <li class="<%= 'active' if controller_name == 'stories' %>">
            <%= link_to(event_stories_path(@event)) do %>
              <%= icon('venus-mars') %>
              <span><%= t('dashboard.sidebar.history') %></span>
            <% end %>
          </li>


          <li class="<%= 'active' if controller_name == 'gifts' %>">
            <% if @event.gift.nil? %>
              <% gift_path = new_event_gift_path(@event) %>
            <% else %>
              <% gift_path = event_gift_path(@event) %>
            <% end %>

            <%= link_to(gift_path) do %>
              <%= icon('gift') %>
              <span><%= t('dashboard.sidebar.gift') %></span>
            <% end %>
          </li>

        <% end %>

        <li>
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            <%= icon('sign-out') %>
            <span><%= t('dashboard.sidebar.signout') %></span>
          <% end %>
        </li>

      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>