<li class="list-group-item">

  <%= icon(network) %>
  <b><%= t(network) %></b>
  <div class="pull-right <%= network %>">
  <% if current_page?(action: 'show') %>
    <%= @user[network].present? ? link_to(@user[network], @user[network],
      :target => "_blank") : t('users.show.no_info') %>
  <% elsif current_page?(action: 'edit') %>
    <%= f.input network, input_html:
        { class: 'social-network', value: @user[network] },
          placeholder: t('users.edit.socialnetwork_ph', sn: network),
        label: false  %>
  <% end %>
  </div>

</li>