<% content_for :page_header do %>
  <%= t("users.show.#{@user.roles.first.name}") %>
<% end %>

<% content_for :page_description do %>
  <%= @user.first_name %> <%= @user.last_name %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <%= simple_form_for @user do |f| %>

          <%= f.button :submit, t('.save_btn'), class: "btn btn-primary btn-block" %>

          <div class="header-profile">
            <div class="row">
              <div class="col-md-4">
                <div class = "picture-profile">
                  <p><%= t('.profile_picture') %></p>
                  <div id = "imgpreview">
                    <%= @user.profile_image.present? ?
                    image_tag(attachment_url(@user, :profile_image, :fill, 300, 300, format: "jpg"), class: "profile-img img-circle")
                    : icon('user') %>
                  </div>
                   <p class="text-muted"><small><%= t('.picture_description', role: t(@user.roles.first.name)) %></small></p>
                  <%= f.input :profile_image, as: :attachment, direct: true, presigned: true, label: false,
                    input_html: { data: { progressbar: 'progress-bar',
                    progressbarcontainer: 'progress-bar-container' } },
                    wrapper_html: { class: 'form-group-sm' }  %>
      <div id="progress-bar-container">
        <div class="progress">
          <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            <span class="sr-only">0% Complete</span>
          </div>
        </div>
      </div>
                </div>
              </div>
              <div class="col-md-8">
                <div style="display:block name-profile">
                  <%= f.input :role, as: :hidden, input_html: { value: 'couple' } %>
                  <%= f.input :first_name, input_html: { value: @user.first_name } %>
                  <%= f.input :last_name , input_html: { value: @user.last_name  } %>
                  <%= f.input :biography , input_html: { value: @user.biography  } %>
                </div>
              </div>
            </div>
          </div>

          <ul class="social-icons icon-circle list-group list-group-unbordered">
            <%= render 'social_item', network: 'twitter', f: f %>

            <%= render 'social_item', network: 'facebook', f: f %>

            <%= render 'social_item', network: 'linkedin', f: f %>

            <%= render 'social_item', network: 'instagram', f: f %>

            <%= render 'social_item', network: 'pinterest', f: f %>

            <%= render 'social_item', network: 'internet-explorer', f: f %>
          </ul>

          <%= f.button :submit, t('.save_btn'), class: "btn btn-primary btn-block" %>

        <% end %>
      </div>
    </div>
  </div>
</div>