<% content_for :page_header do %>
    <%= t(".#{@role}") %>
<% end %>

<% content_for :page_description do %>
<%= t('.description') %>
<% end %>

<%= simple_form_for(@user) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :biography %>
  <%= f.input :role, as: :hidden, input_html: { value: @role } %>
  <%= f.input :profile_image, as: :attachment, direct: true, presigned: true %>
  <%= f.button :submit, t('.create_button') %>
<% end %>