<% content_for :page_header do %>
  <%= t("users.show.#{@user.roles.first.name}") %>
<% end %>

<% content_for :page_description do %>
  <%= @user.first_name %> <%= @user.last_name %>
<% end %>

 <div class="row">
   <div class="col-md-12">
     <div class="box box-primary">
            <div class="box-body box-profile">
              <%= link_to edit_user_path(@user), class: "btn btn-primary btn-block" do %>
                <b><%= t('users.show.edit_btn') %></b>
              <% end %>

              <div class="header-profile">
                <div class="row">
                  <div class="col-md-4">
                    <div class = "picture-profile">
                      <p><%= t('.profile_picture') %></p>
                      <%= @user.profile_image.present? ?
                      image_tag(attachment_url(@user, :profile_image, :fill, 300, 300, format: "jpg"), class: "profile-img img-circle")
                      : icon('user') %>
                      <p class="text-muted"><small><%= t('.picture_description', role: t(@user.roles.first.name)) %></small></p>
                    </div>
                  </div>
                  <div class="col-md-8">
                  <div>
                    <h3 class="profile-username">
                      <%= @user.full_name.present? ? @user.full_name : t("users.show.name") %>
                    </h3>

                    <p class="biography text-muted">
                      <%= @user.biography.present? ? @user.biography : t('.biography_description') %>
                    </p></div>
                  </div>
                </div>
              </div>

              <ul class="social-icons icon-circle list-group list-group-unbordered">
                <%= render 'social_item', network: 'twitter' %>

                <%= render 'social_item', network: 'facebook' %>

                <%= render 'social_item', network: 'linkedin' %>

                <%= render 'social_item', network: 'instagram' %>

                <%= render 'social_item', network: 'pinterest' %>

                <%= render 'social_item', network: 'internet-explorer' %>
              </ul>

              <%= link_to edit_user_path(@user), class: "btn btn-primary btn-block" do %>
                <b><%= t('users.show.edit_btn') %></b>
              <% end %>

            </div>
          </div>
   </div>
 </div>