<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type)  %> alert-dismissible fade in" role="alert" >
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Cerrar</span>
    </button>
    <%= message %>
  </div>
<% end %>