<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 0,
      "lng": 0,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>


<% content_for :page_header do %>
    <%= t("location.name") %>
<% end %>

<% content_for :page_description do %>
    <%= t("location.description")  %>
<% end %>

<%= simple_form_for @event do |f| %>
  <%= f.input :address %>
  <%= f.input :address_description %>
  <%= f.submit %>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'>a</div>
</div>