<div class="box box-info">
  <%= simple_form_for @gift, url: event_gift_path do |f| %>
    <div class="box-body">

      <div class="form-inputs">

        <div class="row">
          <div class="col-md-12">
            <%= f.error_notification %>
          </div>
        </div>

        <%= f.association :store %>
        <%= f.input :code %>
        <%= f.input :description %>

        <hr>


      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn-primary btn btn-block pull-right", id: "submit-button" %>
      </div>
  </div>

</div>
<% end %>
