<% content_for :page_header do %>
    <%= t(".name") %>
<% end %>

<% content_for :page_description do %>
    <%= t(".description")  %>
<% end %>

<div class="box box-info">
  <div class="box-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @gift.store.picture %>
      </div>
      <div class="col-md-8">
        <p><strong><%= Store.human_attribute_name("name") %>:</strong> <%= @gift.store.name %></p>
        <p><strong><%= Gift.human_attribute_name("code") %>:</strong> <%= @gift.code %></p>
        <p><%= @gift.description %></p>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <%= link_to edit_event_gift_path(@gift.event), class: "btn btn-primary btn-block" do %>
      <%= icon('edit') %>
      <b><%= t('users.show.edit_btn') %></b>
    <% end %>
     <%= link_to event_gift_path(@gift.event), method: :delete,
          data: { confirm: t('r_u_sure') },
          class: "btn btn-danger btn-block" do %>
           <%= icon('trash') %>
      <b><%= t('.delete_btn') %></b>
    <% end %>
  </div>

</div>
