<!-- timeline time label -->
<li class="time-label">
    <span class="bg-red">
        <%= l story.date, format: :long_s %>
    </span>
</li>
<!-- /.timeline-label -->

<!-- timeline item -->
<li>
    <!-- timeline icon -->
    <i class="fa fa-heart bg-red"></i>
    <div class="timeline-item">
        <h3 class="timeline-header"><a href="#"><%= story.name %></a> ...</h3>

        <div class="timeline-body">
            <%= image_tag attachment_url(story, :photo, :fill, 200, 200,
            format: "jpg"), class: "img-rounded" if story.photo.present? %>
                <%= story.description %>
        </div>
        <div class="timeline-footer">
            <%= button_to event_story_path(@event, story), method: :delete, data: { confirm: t('r_u_sure') },
                class: "btn btn-default btn-xs" do %>
                <%= icon('trash') %>
                <%= t('stories.index.delete_story') %>
            <% end %>
        </div>
    </div>
</li>
