<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('stories.index.new_story') %></h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <%= simple_form_for [@event, @story], class: "form-horizontal" do |f| %>
    <div class="box-body">
    <div class="col-md-8">
      <div class="col-md-6">
        <%= f.input :name, placeholder: t('stories.index.name_ph'), wrapper_html: { class: 'form-group-sm' } %>
      </div>

      <div class="col-md-6">
        <%= f.input :date, wrapper_html: { class: 'form-group-sm' } %>
      </div>


      <div class="col-md-12">
        <%= f.input :description, wrapper_html: { class: 'form-group-sm' } %>
      </div>
    </div>
    <div class="col-md-4">
      <%= f.input :photo, as: :attachment, direct: true, presigned: true,
          input_html: { data: { progressbar: 'progress-bar',
          progressbarcontainer: 'progress-bar-container' } },
          wrapper_html: { class: 'form-group-sm' }  %>
      <div id="imgpreview"></div>
      <div id="progress-bar-container">
        <div class="progress">
          <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            <span class="sr-only">0% Complete</span>
          </div>
        </div>
      </div>

    </div>

    </div>

    <div class="box-footer">
      <%= f.button :submit, t('stories.index.create_btn'), class: "btn btn-block pull-right btn-primary" %>
    </div>


  <% end %>
</div>