<% content_for :page_header do %>
    <%= t(".name") %>
<% end %>

<% content_for :page_description do %>
    <%= t(".description")  %>
<% end %>

<%= render 'story_form' %>

<ul class="timeline">
    <%= render @stories %>
</ul>