// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "custom";
@import "adminlte";
@import "skin-blue";
@import "social-icons";
@import "hover-min";


.db_welcome {
  text-align: center;

  .btn {
    color: white;
    font-weight: bold;
  }
}

.sidebar .fa-plus
{
  color: green;
}

.header-profile {
  margin-top: 20px;
  margin-bottom: 20px;

}


.header-profile .picture-profile {
  text-align: center;
}

.header-profile .profile-img {
  line-height: 120px;
  width: 120px;
  height: 120px;
  border:1px solid #d3d3d3;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .2);

}

.header-profile .biography {
  border: 1px dotted #d3d3d3;
  border-radius: 1%;

  padding-left: 5px;
}

.header-profile .fa {
  border-radius: 50%;
  background-color:#A5C63B;
  line-height: 120px;
  width: 120px;
  height: 120px;
  text-align: center;
}

.header-profile .fa-user {
  font-size: 7.5em;
  color: white;

}

.social-network {
  width: 400px;
}

.timeline-item {
  /*width: 70%;*/

}

.timeline-item img {
  margin-left: 5px;
  margin-right: 10px;
  /*float: left;*/

}

#map-container {
   height: 350px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 10px;
   margin-bottom: 20px;
   border-width: 7px;
 }
 #map-canvas {
   height: 335px;
   width: 100%;
 }


.info-box-icon {
  font-size: 30px;
  height: 70px;
  line-height: 70px;
  width: 60px;
}
.info-box {
  min-height: 70px;
}

.info-box-content {
  margin-left: 60px;
}


#add_guest_form {
  display: none;
  padding: 10px;
  margin: 15px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.guests-toolbar {

  .fa-plus {
    color: #01a65b;
  };

  .fa-send, .fa-upload, .fa-download {
    color: #0072b7;
  }

}

.guests-toolbar .btn {
  margin-right: 3px;
}

.form-inline > *, .form-inline .row > *  {
    margin:5px 3px !important;
}

.form-inline label {
  margin-right: 3px;
  margin-left: 3px;
}

.guest_menu_link {
border-bottom: 1px dotted;
}

.guests-table td, .guests-table th {
  text-align: center
}

.guests-table .fa-thumbs-o-up,
.guests-table .fa-thumbs-o-down,
.guests-table .fa-question {
  padding-right: 6px;
}

.fa-thumbs-o-up.active,
.fa-thumbs-o-down.active,
.fa-question.active {
/*  font-weight: bold;
  font-size: 120%;*/
}

.fa-thumbs-o-up.inactive,
.fa-thumbs-o-down.inactive,
.fa-question.inactive {
  /*font-size: 80%;*/
}

.fa-thumbs-o-up.active {
  color: #00a65a;
  @extend .fa-thumbs-up;
}

.fa-thumbs-o-down.active {
  color: #f56954;
  @extend .fa-thumbs-down;
}

.fa-question.active {
  color: #f39c12;
  @extend .fa-question-circle;
}

img.preview {
  display: block;
  max-width: 98%;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}
