


<div class="box box-primary">
  <%= simple_form_for [@event, @location] do |f| %>
    <div class="box-header">
      <div class="form-actions">

        <%= button_tag(type: 'submit', class: "btn-primary btn btn-block pull-right", id: "submit-button") do %>
          <%= icon('save') %>
          <b><%= t('btn_save') %></b>
        <% end %>

      </div>
    </div>

    <div class="box-body">
      <div class="form-inputs">
        <div class="row">
          <div class="col-md-12">
            <%= f.error_notification %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= f.input :name, placeholder: t('dashboard.location.name_ph')  %>
          </div>

          <div class="col-md-6">
            <%= f.input :address, placeholder: t('dashboard.location.address_ph')  %>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6">
            <%= f.input :howto, placeholder: t('dashboard.location.howto_ph')  %>
          </div>

          <div class="col-md-6">
            <%= f.input :location_image, as: :attachment, direct: true,
                presigned: true,
                input_html: { data: { progressbar: 'progress-bar',
                progressbarcontainer: 'progress-bar-container' } },
                wrapper_html: { class: 'form-group-sm' } %>
            <div id="imgpreview"></div>
            <div id="progress-bar-container">
              <div class="progress">
                <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                  <span class="sr-only">0% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>

            <div class="row">
          <div class="col-md-6">
            <%= f.input :church_name, placeholder: t('opt')  %>
          </div>

          <div class="col-md-6">
            <%= f.input :church_address , placeholder: t('opt') %>
          </div>
        </div>
        <hr>


        <%= f.label :latitude, t('location.new.select_location') %>
        <div id="map-container">
          <div id="map-canvas"></div>
        </div>

        <%= f.input :latitude, as: :hidden %>
        <%= f.input :longitude, as: :hidden %>
        <%= f.input :church_latitude, as: :hidden %>
        <%= f.input :church_longitude, as: :hidden %>

      </div>

      <div class="form-actions">
        <%= button_tag(type: 'submit', class: "btn-primary btn btn-block pull-right", id: "submit-button") do %>
          <%= icon('save') %>
          <b><%= t('btn_save') %></b>
        <% end %>
      </div>
  </div>
</div>
<% end %>
