<p id="notice"><%= notice %></p>

<h1>Listing location</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Description</th>
      <th>Location image</th>
      <th>Map image</th>
      <th>Event</th>
      <th>Name</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

