<% content_for :page_header do %>
    <%= t(".name") %>
<% end %>

<% content_for :page_description do %>
    <%= t(".description")  %>
<% end %>

<div class="box box-primary">
  <div class="box-header">
     <%= link_to edit_event_location_path(@location.event, @location), class: "btn btn-primary btn-block" do %>
      <%= icon('edit') %>
      <b><%= t('users.show.edit_btn') %></b>
    <% end %>
  </div>
  <div class="box-body">

    <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-6">
            <b><%= Location.human_attribute_name('name') %></b>
            <p><%= @location.name %></p>
          </div>

          <div class="col-md-6">
             <b><%= Location.human_attribute_name('address') %></b>
             <p><%= @location.address %></p>
          </div>
      </div>

    <div class="row">
          <div class="col-md-6">
        <strong><%= Location.human_attribute_name("howto") %></strong><p><%= @location.howto %></p>
      </div>
      <div class="col-md-6">
        <strong><%= Location.human_attribute_name("location_image") %></strong>
        <div>
          <%= image_tag(attachment_url(@location, :location_image, :fill, 150,
              150, format: "jpg")) %>
        </div>
      </div>

    </div>
    <hr>


      <div class="row">
        <div class="col-md-6">
          <strong><%= Location.human_attribute_name("church_name") %></strong><p><%= @location.church_name %></p>
        </div>
        <div class="col-md-6">
          <strong><%= Location.human_attribute_name("church_address") %></strong><p><%= @location.church_address %></p>
        </div>
      </div>
      <%= hidden_field_tag 'location_church_latitude', @location.church_latitude %>
      <%= hidden_field_tag 'location_church_longitude', @location.church_longitude %>


    <%= hidden_field_tag 'location_latitude', @location.latitude %>
    <%= hidden_field_tag 'location_longitude', @location.longitude %>

  <hr>
    <div id="map-container">
          <div id="map-canvas"></div>
        </div>

  </div>



  <div class="box-footer">
    <%= link_to edit_event_location_path(@location.event, @location), class: "btn btn-primary btn-block" do %>
      <%= icon('edit') %>
      <b><%= t('users.show.edit_btn') %></b>
    <% end %>
  </div>
</div>