<!DOCTYPE html>
<html>
<head>
  <title>Ovc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "shared/flash_messages", flash: flash %>

<div>
<%= link_to "Inicio", root_path %>
<%= link_to "Salir", destroy_user_session_path, method: :delete %>
<%= link_to "Ingresar", new_user_session_path %>
<%= link_to "Registrarse", new_user_registration_path %>
<%= link_to "Dashboard", dashboard_path %>
</div>

<%= yield %>

</body>
</html>
